flask==2.3.3
flask-bootstrap>=3.3.7.1
flask-WTF
flask-table
flask-sslify
graphviz
mpld3
flask-weasyprint
statsmodels
numpy==1.23.0
seaborn==0.8.1
matplotlib==2.0.0
python-dotenv
cairocffi
slacker
wtforms_components
uWSGI
slack_sdk>=3.27,<4
